@import "../../global";

.author-box {
  margin-bottom: 20px;
  float: right;
  border: solid 0.5px $border-color;
  border-radius: 3px;
  width: 250px;
  .author-title {
    background-color: #F5F5F5;
    border-bottom: solid 0.5px $border-color;
    margin: 0.5px;
    margin-bottom: 20px;
    padding: 8px;
  }
  h3 {
    letter-spacing: 2px;
    .author-box-name {
      color: $h-color;
      text-decoration: none;
    }
    .author-box-name:hover {
      color: $a-color;
    }
  }
  .top {
    text-align: center;
    .author-penguin {
      border: solid 0.5px $border-color;
      border-radius: 50px;
      transition: 3s ease;
      height: 100px;
      width: 100px;
    }
    .author-penguin:hover {
      transform: rotateZ(360deg);
      background-color: $border-color;
    }
  }
  .body {
    padding: 5px;
    text-align: center;
  }
  .snn-links {
    text-align: center;
    border-top: solid 0.5px $border-color;
    .snn1 {
      padding: 5px;
      transition: 1s;
      color: $a-color;
      margin: 0;
      display: inline-block;
      border-right: solid 0.5px $border-color;
      width: 125px;
    }
    .snn1:hover {
      background-color: $h-color;
      color: #fff;
    }
    .snn2 {
      padding: 5px;
      margin: 0;
      transition: 1s;
      color: $a-color;
      display: inline-block;
      width: 123px;
    }
    .snn2:hover {
      background-color: $h-color;
      color: #fff;
    }
  }
}
