@import "../../global";

.post-box {
  box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
  border: 1px solid $border-color-light;
  border-radius: 3px;
  padding: 30px 30px 5px 10px;
  margin: 30px;
  min-height: 80px;
  transition: 0.5s;
  position: relative;
  .post-title {
    font-size: 22px;
    margin: 0;
  }
  .post-title-link {
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    color: $h-color;
  }
  .post-introduction {
    margin-top: 17px;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    color: $p-color;
  }
  .post-tag-list {
    display: inline-block;
    color: $p-color-light;
    margin: 10px 0 20px 0;
    .tag-button {
      padding: 0 10px 0 0px;
      outline: none !important;
      color: $p-color-light;
      border: none;
    }
    .tag-button:hover {
      color: $a-color;
    }
  }
}
.post-box:hover {
  border: solid 1px $theme-color;
  .post-title-link {
    color: $theme-color;
  }
}
