@import "../../global";

.container {
  border: solid 1px;
  margin: 0 auto;
  width: 1450px;
  .post-list-container {
    border: solid 1px;
    margin: 80px 0 0 300px;
    min-height: 400px;
  }
}
@media (max-width: 1200px) {
  .post-box {
    max-width: 1000px;
    margin-right: 0;
  }
  .post-container {
    padding: 17px;
  }
  .footer {
    .footer-container,
    .footer-container2 {
      display: none;
    }
  }
}
@media (max-width: 880px) {
  .container {
    width: 90%;
  }
  .post-list-container {
    width: 100%;
  }
}
