@import "../../global";

.container {
  margin: 0 auto;
  padding-top: 80px;
  max-width: 1100px;
  .post-list-container {
    float: left;
    min-height: 400px;
  }
}

@media (max-width: 880px) {
  .container{
    width: 90%;
  }
  .post-list-container {
    width:  100%;
  }
}
