@import "../../../global";

.right-container {
  position: sticky;
  top: 70px;
  float: right;
  width: 280px;
}
.search-box {
  border-radius: 3px;
  .search-box-title {
    padding: 8px 0px 8px 7px;
    border-bottom: solid 0.5px $border-color;
    border-left: solid 5px $h-color;
  }
  .search-bar {
    border: none;
    margin: 15px 5px 15px 5px;
    outline: none !important;
    border: solid 1px #CFD8DC;
    border-radius: 3px;
    width: 270px;
  }
}

.tag-list-box {
  margin-top: 20px;
  border-radius: 3px;
  .tag-list-title {
    padding: 8px 0px 8px 7px;
    border-bottom: solid 0.5px $border-color;
    border-left: solid 5px $h-color;
  }
  .tag-list {
    margin-top: 10px;
  }
  .tag {
    color: $a-color;
    margin: 2px;
    outline: none !important;
    border: solid 1px $border-color;
    border-radius: 3px;
  }
  .tag-active {
    @extend .tag;
    background-color: $a-color;
    font-weight: bold;
    color: #fff;
  }
  .tag:hover {
    color: $h-color;
  }
  .tag-active:hover {
    color: #fff;
  }
}

.featured-post-box {
  margin-top: 20px;
  border-radius: 3px;
  .featured-post {
    margin: 20px 0 0 10px;
    .post-title {
      text-decoration: none;
      font-size: 17px;
      color: $theme-color;
    }
    .post-title:hover  {
      color: $a-color;
    }
  }
  .featured-posts-title {
    padding: 8px 0px 8px 7px;
    border-bottom: solid 0.5px $border-color;
    border-left: solid 5px $h-color;
  }
  .featured-post-description {
    color: $p-color;
    font-size: 12px;
  }
}
