@import "../global";

.footer {
  border-top: solid 2.5px #e6ecf1;
  margin: 30px;
  p {
    float: right;
    color: #828e99;
    padding: 20px 15px 40px 15px;
  }
  a {
    color: #828e99;
    text-decoration: none;
    font-weight: 600;
  }
  a:hover {
    color: $theme-color;
  }
}
