@import "../../global";

.comment-container {
  margin: 30px;
  .comment-container-header {
    border-bottom: 2px solid $border-color-light;
    padding-bottom: 10px;
    font-size: 20px;
  }
  .no-comment {
    margin-top: 30px;
    color: $a-color;
  }
  .comment-box {
    margin-top: 30px;
    .comment-box-header {
    }
    .comment-box-content {
      margin-top: 15px;
      padding-left: 10px;
      color: $a-color;
    }
  }
  .comment-form-container {
    margin: 13px;
    margin-top: 30px;
    #name {
    }
    #content {
      height: 80px;
    }
    .comment-button {
      padding: 5px 12px 5px 12px;
      border: solid 1px $theme-color;
      border-radius: 2px;
      transition: 0.5s;
      color: $theme-color;
      outline: none;
    }
    .comment-button:hover {
      background-color: $theme-color;
      color: #fff;
    }
  }
  .flash-message {
    margin-top: 30px;
    display: flex;
    .message {
      margin-right: 30px;
      min-width: 200px;
      padding: 10px 20px;
      background-color: #f5f7f9;
      border-radius: 3px;
      border-left: solid 4px $theme-color;
      span {
        font-size: 17px;
        color: $p-color;
      }
    }
  }
}
