@import "../../global";

.post-container {
  margin: 0 auto;
  max-width: 100%;
  padding-top: 80px;
  position: relative;
  .anchor::before {
    content: "";
    display: block;
    height: 80px;
    margin: -60px 0 0;
  }
  .post-detail-righ-zone {
    border-left: solid 1px $border-color;
    background-color: #fbfbfc;
    position: absolute;
    width: 300px;
    margin-bottom: -80px;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .post-detail-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    color: $h-color;
  }
  .post-content {
    padding: 0 20px 0 20px;
    margin: 0 auto;
    max-width: 800px;
  }
  .like-box {
    margin-top: 80px;
    margin-left: -100px;
    position: sticky;
    top: 120px;
    float: left;
    text-align: center;
    .like-button {
      color: $a-color;
      padding: 10px 10px 5px 10px;
      background-color: #fff;
      border: solid 1.5px $a-color;
      border-radius: 50%;
      outline: none !important;
    }
    .like-number {
      margin-top: 5px;
      margin-bottom: -5px;
    }
    .glyphicon-thumbs-up {
      font-size: 20px;
    }
    .like-button:active {
      color: #00c0b8;
      border: solid 1.5px #00c0b8;
      transform: translateY(-4px);
    }
    .snn-link {
      margin-top: 25px;
      outline: none !important;
    }
    .snn-link:hover {
      transform: translateY(-4px);
    }
  }
  .page-views {
    display: none;
    position: absolute;
    right: 60px;
    color: $a-color;
  }
  .post-detail-author-box {
    margin: 0 auto;
    margin-top: 70px;
    max-width: 800px;
    border-top: solid 1px $border-color;
    border-bottom: solid 1px $border-color;
    .post-detail-author-box-left {
      float: left;
      max-width: 101px;
      .post-author-penguin {
        margin: 30px 0 30px 0;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: solid 0.5px $border-color;
      }
    }
    .post-detail-author-box-right {
      float: left;
      max-width: 700px;
      .post-detail-author-box-right-description {
        margin: 30px 0 30px 30px;
        font-size: 17px;
        .post-author-button {
          margin-top: 5px;
          padding: 3px 12px 3px 12px;
          border: solid 1px #075fd3;
          border-radius: 2px;
          transition: 0.5s;
          color: #075fd3;
          outline: none;
        }
        .post-author-button:hover {
          background-color: #075fd3;
          color: #fff;
        }
      }
    }
  }
}
@media (max-width: 1330px) {
  .post-detail-righ-zone {
    display: none;
  }
}

@media (max-width: 880px) {
  .post-container {
    padding-top: 80px !important;
    .post-detail-author-box {
      .post-detail-author-box-left {
        float: none;
        margin: 0 auto;
        .post-author-penguin {
          margin: 30px 0 0 0;
        }
      }
      .post-detail-author-box-right {
        float: none;
        .post-detail-author-box-right-description {
          text-align: center;
          margin: 0 0 30px 0;
        }
      }
    }
  }
  .like-box {
    display: none;
  }
}
