@import "../../global";

.post-container{
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
  max-width: 900px;
  padding: 15px 50px 70px 50px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.1);
  .post-detail-title{
    text-align: center;
    margin-bottom: 70px;
    font-size: 40px;
    color: $h-color;
  }
  .like-box {
    margin-top: 80px;
    margin-left: -120px;
    position: sticky;
    top: 120px;
    float: left;
    text-align: center;
    .like-button {
      color: $a-color;
      padding: 10px 10px 5px 10px;
      background-color: #fff;
      border: solid 1.5px $a-color;
      border-radius: 50%;
      outline: none !important;
    }
    .like-number {
      margin-top: 5px;
      margin-bottom: -5px;
    }
    .glyphicon-thumbs-up {
      font-size: 20px;
    }
    .like-button:active {
      color:  #00C0B8;
      border: solid 1.5px #00C0B8;
      transform: translateY(-4px);
    }
    .snn-link {
      margin-top: 25px;
      outline: none !important;
    }
    .snn-link:hover {
      transform: translateY(-4px);
    }
  }
  .page-views {
    position: absolute;
    right: 60px;
    color: $a-color;
  }
  .post-detail-author-box {
    margin-top: 70px;
    max-width: 900px;
    border-top: solid 1px $border-color;
    border-bottom: solid 1px $border-color;
    .post-detail-author-box-left {
      float: left;
      max-width: 101px;
      .post-author-penguin {
        margin: 30px 0 30px 0;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: solid 0.5px $border-color;
      }
    }
    .post-detail-author-box-right {
      float: left;
      max-width: 700px;
      .post-detail-author-box-right-description {
        margin: 30px 0 30px 30px;
        font-size: 17px;
        .post-author-button {
          margin-top: 5px;
          padding: 3px 12px 3px 12px;
          border: solid 1px #075FD3;
          border-radius: 2px;
          transition: 0.5s;
          color: #075FD3;
          outline:none;
        }
        .post-author-button:hover {
          background-color: #075FD3;
          color: #fff;
        }
      }
    }
  }
}


@media (max-width: 880px) {
  .post-container{
    width: 90%;
    background-color: #fff;
    padding-bottom: 30px;
    .post-detail-author-box {
      .post-detail-author-box-left {
        float: none;
        margin: 0 auto;
        .post-author-penguin {
          margin: 30px 0 0 0;
        }
      }
      .post-detail-author-box-right {
        float: none;
        .post-detail-author-box-right-description {
          text-align: center;
          margin: 0 0 30px 0;
        }
      }
    }
  }
  .like-box {
    display: none;
  }
}
