@import "../../global";
.post-container {
  display: flex;
  .anchor::before {
    content: "";
    display: block;
    height: 80px;
    margin: -60px 0 0;
  }
}
.post-detail-title {
  margin: 30px;
  margin-top: 120px;
  padding-bottom: 20px;
  border-bottom: 2px solid $border-color-light;
  .title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .post-created-date {
    color: #828e99;
    letter-spacing: 1px;
  }
}
.post-left-container {
  background-color: #f5f7f9;
  flex: 0 0 auto;
  width: calc((100% - 1448px) / 2 + 300px);
  padding-left: calc((100% - 1448px) / 2);
  min-width: 300px;
  min-height: 1000px;
  z-index: 1;
}
.post-main-container {
  flex: 2;
}
.post-list-loader {
  margin-top: 60px;
}
.post-content-container {
  min-height: 500px;
  margin-top: 80px;
  max-width: 900px;
  margin-left: 60px;
  margin-right: 30px;
}
.post-loading-content-container {
  @extend .post-content-container;
  margin-top: 96px;
}

.page-views {
  display: none;
  position: absolute;
  right: 60px;
  color: $a-color;
}
.post-detail-author-box {
  margin: 30px;
  margin-top: 40px;
  padding-top: 20px;
  border-top: solid 1px $border-color-light;
  display: flex;
  .post-detail-author-box-left {
    .post-author-penguin {
      margin: 30px 0 30px 0;
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: solid 0.5px $border-color-light;
    }
  }
  .post-detail-author-box-right {
    .post-detail-author-box-right-description {
      margin: 30px 0 30px 30px;
      color: $p-color;
      font-size: 17px;
      line-height: 25px;
      .post-author-button {
        margin-top: 10px;
        padding: 3px 12px 3px 12px;
        border: solid 1px $theme-color;
        border-radius: 2px;
        transition: 0.5s;
        color: $theme-color;
        outline: none;
      }
      .post-author-button:hover {
        background-color: $theme-color;
        color: #fff;
      }
    }
  }
}

@media (min-width: 950px) {
  .post-left-container {
    display: block !important;
  }
  .wrapper {
    display: none !important;
  }
}
@media (max-width: 950px) {
  .post-left-container {
    display: none;
    position: fixed;
  }
  .post-content-container {
    margin: 0 auto !important;
    margin-top: 110px !important;
  }
  .post-detail-author-box {
    display: none;
  }
}

@media (max-width: 560px) {
  .post-detail-title {
    margin-top: 110px !important;
  }
}
