.post-left-container {
  background-color: #fbfbfc;
  flex: 1;
  order: 2;
  max-width: 300px;
  min-height: 1000px;
  z-index: 1;
  border-left: solid 1px $border-color-light;
}

.like-box {
  position: fixed;
  padding-left: 25px;
  bottom: 0px;
  display: block;
  background-color: #f5f7f9;
  height: 65px;
  width: 300px;
  border-right: solid 1px $border-color-light;
  .like-button {
    display: flex;
    width: 250px;
    height: 50px;
    padding: 15px;
    border-radius: 3px;
    bottom: 15px;
    text-decoration: none;
    color: #9daab6;
    outline: none;
    border: 1px solid $border-color;
    background-color: #e6ecf1;
    .glyphicon-thumbs-up {
      font-size: 25px;
      margin-left: 70px;
    }
    .like-number {
      font-size: 20px;
      margin-left: 5px;
    }
  }
  .label-link:hover {
    color: $theme-color;
  }
}
