@import "../../global";

.toc {
  position: fixed;
  height: 90%;
  width: 299px;
  padding-top: 80px;
  overflow-y: scroll;
  .toc-list-title {
    font-size: 17px;
    padding: 10px 0 10px 25px;
    font-weight: 600;
    border-bottom: solid 1px $border-color;
    position: relative;
    color: $list-title;
    .arrow-icon {
      background-color: #f5f7f9;
      color: #9dabb7;
      border: none;
      font-size: 15px;
      position: absolute;
      left: 130px;
      top: 7px;
      outline: none !important;
    }
  }
  .toc-list {
    list-style: none;
    padding-left: 25px;
    .toc-title {
      text-decoration: none;
    }
    .toc-title:hover {
      color: $theme-color;
    }
  }
  .header {
    font-size: 14px;
    font-size: 16px;
    line-height: 25px;
    a {
      color: $list-title;
    }
  }
  .header1 {
    @extend .header;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
  }
  .header2 {
    @extend .header;
    border-left: solid 1px #e6ecf1;
    padding-left: 15px;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    a {
      color: #9dabb7;
    }
  }
  .header3 {
    @extend .header;
    border-left: solid 1px #e6ecf1;
    padding-left: 30px;
    list-style: none;
    font-size: 13px;
    font-weight: 500;
    a {
      color: #9dabb7;
    }
  }
}
.toc::-webkit-scrollbar {
  width: 4px;
  height: 20px;
}

.toc::-webkit-scrollbar-thumb {
  background-color: $border-color-light;
  outline: 1px solid $border-color;
  border-radius: 10px;
}
