@import "../../../global";

.category-button {
  color: $a-color;
  margin: 0 0 10px 11px;
  padding: 10px 23px 10px 23px;
  outline: none !important;
  border: solid 1px $border-color;
  border-radius: 3px;
  transition: 0.2s;
}
.category-button-active {
  @extend .category-button;
  background-color: $h-color;
  font-weight: bold;
  color: #fff;
}
.category-button-Ruby {
  @extend .category-button-active;
  background-color: $ruby;
}
.category-button-Javascript {
  @extend .category-button-active;
  background-color: $javascript;
}
.category-button-React {
  @extend .category-button-active;
  background-color: $react;
}
.category-button-Go {
  @extend .category-button-active;
  background-color: $go;
}
.category-button-Life {
  @extend .category-button-active;
  background-color: $life;
}
.category-button-Rails {
  @extend .category-button-active;
  background-color: $rails;
}
.category-button-Others {
  @extend .category-button-active;
}
.category-button-All {
  @extend .category-button-active;
}

@media (max-width: 1200px) {
  .category-button {
    margin: 5px 10px 5px 10px;
    padding: 15px 30px 15px 30px;
  }
  .category-button-active, .category-button-Ruby, .category-button-Javascript, .category-button-React, .category-button-Go, .category-button-Life,
  .category-button-Rails, .category-button-Others, .category-button-All  {
    margin: 5px 10px 5px 10px;
    padding: 15px 30px 15px 30px;
  }
}

@media (max-width: 1000px) {
  .category-button {
    margin: 5px 5px 5px 5px;
    padding: 7px 12px;
  }
  .category-button-active, .category-button-Ruby, .category-button-Javascript, .category-button-React, .category-button-Go, .category-button-Life,
  .category-button-Rails, .category-button-Others, .category-button-All  {
    margin: 5px 5px 5px 5px;
    padding: 7px 12px;
  }
}
