@import "../global";

.author-box {
  margin-top: 10px;
  padding-left: 25px;
  .author-box-name {
    margin-left: 25px;
    color: $h-color;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: 500;
  }
  .author-box-name:hover {
    color: $a-color;
  }
  .author-image {
    margin: 0 0 15px 0px;
    border: solid 0.5px $border-color;
    border-radius: 100px;
    background-color: #fff;
    height: 65px;
    width: 65px;
    z-index: 1;
  }
  .author-box-body {
    padding: 0px 25px 10px 0px;
    letter-spacing: 1px;
    font-size: 15px;
  }
}
