@import "../global";

.author-box {
  border-bottom: solid 1px $border-color-light;
  .author-box-name {
    margin-left: 25px;
    color: $h-color;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: 500;
  }
  .author-box-name:hover {
    color: $a-color;
  }
  .author-penguin {
    margin: 10px 0 0 20px;
    border: solid 0.5px $border-color;
    border-radius: 100px;
    transition: 3s ease;
    background-color: #fff;
    height: 90px;
    width: 90px;
    z-index: 1;
  }
  .author-penguin:hover {
    transform: rotateZ(360deg);
    background-color: $border-color;
  }
  .author-box-body {
    padding: 20px 25px 15px 25px;
    letter-spacing: 1px;
  }
  .author-tag {
    position: absolute;
    color: #828e99;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    left: 132px;
  }
  #dog {
    top: 140px;
  }
}
