@import "../global";

.author-box {
  width: 280px;
  text-align: center;
  margin: 0 auto;
  .author-box-name {
    color: $h-color;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 23px;
  }
  .author-box-name:hover {
    color: $a-color;
  }
  .author-penguin {
    margin-top: 15px;
    border: solid 0.5px $border-color;
    border-radius: 100px;
    transition: 3s ease;
    background-color: #fff;
    height: 100px;
    width: 100px;
    z-index: 1;
  }
  .author-penguin:hover {
    transform: rotateZ(360deg);
    background-color: $border-color;
  }
  .author-box-body {
    padding: 0 5px;
    letter-spacing: 1px;
  }
}
