@import "../global";

.search-box {
  position: relative;
  width: 290px;
  padding-left: 25px;
  margin-bottom: 15px;
  border-top: solid 1px $border-color-light;
  border-bottom: solid 1px $border-color-light;
  .icon {
    position: absolute;
    color: #616d79;
    top: 12px;
    left: 30px;
  }
  .search-bar {
    outline: none !important;
    margin: 10px 0 10px 0;
    padding-left: 40px;
    border: none;
    background-color: #f5f7f9;
    width: 250px;
    color: #616d79;
  }
}
