@import "../global";

.search-bar {
  border: none;
  padding-left: 15px;
  outline: none !important;
  border: solid 1px$border-color;
  border-radius: 3px;
  width: 250px;
  height: 40px;
  font-size: 17px;
  margin: 25px 0;
  transition: 1s;
}
.search-bar:focus {
  border: solid 2px $border-color;
}
