@import "../global";

.SideNavbar {
  position: fixed;
  background-color: #f5f7f9;
  border-right: solid 1px $border-color-light;
  height: 100%;
  width: 300px;
  padding-top: 85px;
  overflow-y: scroll;
  .side-bottom {
    .list-group {
      padding-left: 25px;
      margin: 0;
      margin-bottom: 10px;
    }
    .list-title {
      @extend .border-less-button;
      padding: 7px;
      position: relative;
      width: 100%;
      text-align: left;
      color: $list-title;
      font-size: 15px;
      font-weight: 600;
      .chevron-right {
        position: absolute;
        right: 15px;
        top: 7px;
        color: #9dabb7;
      }
      .chevron-down {
        position: absolute;
        right: 15px;
        top: 8px;
        color: #9dabb7;
      }
    }
    .list-title:hover {
      background-color: #e6ecf1;
    }
    .list {
      margin-left: 20px;
      border-left: solid 1px #e6ecf1;
      padding-left: 0px;
      font-size: 15px;
      font-weight: 500;
      line-height: 30px;
      .list-item {
        padding-left: 15px;
        white-space: nowrap;
        overflow: hidden;
        list-style: none;
      }
      .list-item-ele {
        text-decoration: none;
        color: #9dabb7;
      }
      .list-item:hover {
        background-color: #e6ecf1;
      }
      .category-button-active {
        @extend .border-less-button;
        color: $theme-color;
      }
      .category-button {
        @extend .border-less-button;
        color: #9dabb7;
      }
      .tag-active {
        @extend .border-less-button;
        color: $theme-color;
      }
      .tag {
        @extend .border-less-button;
        color: #9dabb7;
      }
      .featured-post-title {
        color: #9dabb7;
        text-decoration: none;
      }
    }
  }
  #show {
    display: block;
  }
  #hide {
    display: none;
  }
  #active {
    color: $theme-color;
    background-color: #fff;
    border: solid 1px $border-color-light;
  }
  #blogPosts {
    margin-top: 20px;
  }
  .nav-label {
    position: fixed;
    padding-left: 25px;
    bottom: 0px;
    display: block;
    background-color: #f5f7f9;
    height: 65px;
    width: 300px;
    border-right: solid 1px $border-color-light;
    .label-link {
      position: fixed;
      display: flex;
      width: 250px;
      padding: 15px;
      border-radius: 3px;
      bottom: 15px;
      text-decoration: none;
      color: #9daab6;
      background-color: #e6ecf1;
      .emphasied-label {
        font-weight: 700;
      }
    }
    .label-link:hover {
      color: $theme-color;
    }
  }
}
.SideNavbar::-webkit-scrollbar {
  width: 4px;
  height: 20px;
}

.SideNavbar::-webkit-scrollbar-thumb {
  background-color: $border-color-light;
  outline: 1px solid $border-color;
  border-radius: 10px;
}

@media (max-width: 950px) {
  .SideNavbar {
  }
  .author-tag {
  }
}
