#DarkTheme {
  $theme-color: #1e2227;
  $hover-color: #2e363d;
  $side-nav: #23282d;
  background-color: $theme-color;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  li {
    color: #fff;
  }
  .navbar {
    background-color: $theme-color;
    border-bottom: solid 1px #fff;
    box-shadow: none;
  }
  .lang-btn {
    background-color: $theme-color;
    color: #fff;
  }
  .theme-button {
    background-color: $theme-color;
  }
  .left-container {
    background-color: $side-nav;
  }
  .SideNavbar {
    background-color: $side-nav;
    .list-title {
      color: #fff;
    }
    .list-title:hover {
      background-color: $hover-color;
    }
    .list {
      .list-item {
        list-style: none;
      }
      .list-item-ele {
        background-color: $side-nav;
      }
      .list-item:hover {
        background-color: $hover-color;
      }
      .category-button-active {
        color: #fff;
      }
      .category-button {
        @extend .border-less-button;
        color: #9dabb7;
      }
      .tag-active {
        @extend .border-less-button;
        color: #fff;
      }
      .tag {
        @extend .border-less-button;
        color: #9dabb7;
      }
      .featured-post-title {
        color: #9dabb7;
        text-decoration: none;
      }
    }
  }
  #active {
    color: #fff;
    background-color: $theme-color;
    border: solid 1px #e4e4e4;
  }
  .nav-label {
    background-color: $theme-color;
    .label-link {
      color: #9daab6;
    }
    .label-link:hover {
      color: #fff;
    }
  }
  .logo {
    color: #fff;
  }
  .title {
    background-color: $theme-color;
  }
  .tag-button {
    background-color: $theme-color;
  }
  .category-button {
    border: none;
  }
  .search-bar {
    background-color: $theme-color;
    color: #fff;
  }
  .author-box-title,
  .search-box-title,
  .tag-list-title {
    border-color: #fff;
  }
  .tag {
    background-color: $theme-color;
    color: #fff;
  }
  .lang-box {
    border: 1px solid black;
  }
  .category-button {
    background-color: $theme-color;
    border: solid 1px #fff;
    color: #fff;
  }
  .author-penguin {
    background-color: #272c34;
  }
  .about-left-container {
    button {
      background-color: $theme-color;
      color: #fff;
    }
    button:hover {
      background-color: #fff;
      color: #444444;
    }
  }
  .tab-button {
    background-color: $theme-color;
    color: #fff;
  }
  pre {
    background-color: #272c34 !important;
    border: 1px solid #e1e1e1 !important;
    color: #fff !important;
  }
  code {
    background-color: #272c34 !important;
    color: #fff;
  }
  .footer {
    background-color: $theme-color;
  }
  .like-button {
    background-color: $theme-color;
    color: #fff;
  }
  .post-author-button {
    background-color: $theme-color;
  }
  .show-all-posts-btn {
    background-color: $theme-color;
    color: #fff;
  }
  .show-all-posts-btn:hover {
    background-color: #fff;
    color: $theme-color;
  }
  .lang-box {
    background-color: $theme-color;
    border-color: #fff;
  }
  .post-detail-righ-zone {
    background-color: #1e2221;
  }
  .post-left-container {
    background-color: $side-nav;
  }
  .toc {
    background-color: $side-nav;
    .arrow-icon {
      background-color: $side-nav;
    }
  }
}
