@import "DarkTheme";
$theme-color: #3681fc;
$h-color: #3b444e;
$p-color: #444444;
$p2-color: #eeeeee;
$a-color: #666;
$a-color2: #2b71d0;
$list-title: #616d79;
$border-color: #d4dadf;
$border-color2: #d4c0ae;
$border-color-light: #e4e4e4;
$box-shadow: 0 1px 3px #efefef, 0 1px 3px #efefef;
$ruby: #701516;
$javascript: #f6d033;
$react: #009fce;
$go: #74cddd;
$rails: #cc0001;
$life: #5ab601;

.theme-button {
  position: fixed;
  height: 50px;
  width: 100px;
  left: 0px;
  bottom: 0px;
  outline: none;
  background-color: #272c34;
  border: none;
  color: #fff;
  opacity: 0.8;
}
p {
  font-size: 16px;
}
.light-theme-button {
  @extend .theme-button;
  background-color: #fff;
  color: $p-color;
}

.dark-theme-button {
  @extend .theme-button;
}

.border-less-button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}
