@import "DarkTheme";
$theme-color: #3B444E;
$h-color: #3B444E;
$p-color: #444444;
$p2-color: #EEEEEE;
$a-color: #666;
$a-color2: #2B71D0;
$border-color: #e4e4e4;
$border-color2: #D4C0AE;
$ruby: #701516;
$javascript: #F6D033;
$react: #009FCE;
$go: #74CDDD;
$rails: #CC0001;
$life: #5AB601;

.theme-button {
  
}
