@import "DarkTheme";
$theme-color: #3b444e;
$h-color: #3b444e;
$p-color: #444444;
$p2-color: #eeeeee;
$a-color: #666;
$a-color2: #2b71d0;
$border-color: #e4e4e4;
$border-color2: #d4c0ae;
$ruby: #701516;
$javascript: #f6d033;
$react: #009fce;
$go: #74cddd;
$rails: #cc0001;
$life: #5ab601;

.theme-button {
  position: fixed;
  height: 50px;
  width: 100px;
  left: 0px;
  bottom: 0px;
  outline: none;
  background-color: #272c34;
  border: none;
  color: #fff;
  opacity: 0.8;
}

.light-theme-button {
  @extend .theme-button;
  background-color: #fff;
  color: $p-color;
}

.dark-theme-button {
  @extend .theme-button;
}
