@import "global";

.author-box {
  margin-bottom: 20px;
  float: right;
  border: solid 0.5px $border-color;
  min-width: 250px;
  max-width: 250px;
  .author-title {
    background-color: #F5F5F5;
    border-bottom: solid 0.5px $border-color;
    margin: 0.5px;
    margin-bottom: 20px;
    padding: 8px;
  }
  .top {
    text-align: center;
    .penguin {
      border: solid 0.5px $border-color;
      border-radius: 50px;
      height: 100px;
      width: 100px;
    }
  }
  .body {
    padding: 5px;
    text-align: center;
  }
}
