$theme-color: #3B444E;
$h-color: #3B444E;
$p-color: #444444;
$p2-color: #EEEEEE;
$a-color: #666;
$border-color: #e4e4e4;
$Ruby: #C12214;
$Go: #74CDDD;
$Javascript:#F5DE1A;
$React:#06D9FE;
$Life:#80F222;
$Rails:#CC0001;
$Others: #CDCDCD;
