@import "global";

.container {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 900px;
  .post-list-container {
    float: left;
    min-height: 500px;
  }
}

@media (max-width: 990px) {
  .right-container {
    display: none;
  }
  .author-box {
    @extend .right-container;
  }
}
