@import "global";

.post-box {
  border-bottom: solid 1.2px $border-color;
  margin: 20px 0 20px 0;
  min-height: 80px;
  position: relative;
  .post-title {
    margin: 0;
  }
  .post-title-link {
    text-decoration: none;
    font-weight: bold;
    color: $theme-color;
  }
  .post-title-link:hover {
    color: $a-color;
  }
  .created-date {
    position: absolute;
    left: 0;
    bottom: 10px;
  }
  .post-tag-list {
    position: absolute;
    right: 20px;
    bottom: 7px;
    .tag-button {
      margin: 0 0 0 0;
      outline: none !important;
      color: $theme-color2;
      border: none;
    }
    .tag-button:hover {
      color: $a-color;
    }
  }
}
