@import "global";
@import "PostList";

.post-container{
  @extend .container;
  padding: 15px 50px 30px 50px;
  .post-detail-title{
    text-align: center;
    margin-bottom: 70px;
    font-size: 40px;
    color: $h-color;
  }
}
