@import "global";

.post-box {
  border-bottom: solid 1.2px $border-color;
  margin: 20px 0 30px 0;
  min-height: 80px;
  max-width: 604px;
  position: relative;
  .post-title {
    margin: 0;
  }
  .post-title-link {
    text-decoration: none;
    font-weight: bold;
    color: $theme-color;
  }
  .post-title-link:hover {
    color: $a-color;
  }
  .post-introduction {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .created-date {
    display: inline-block;
    position: absolute;
    margin: 10px 0 20px 0;
    right: 10px;
    color: $a-color;
  }
  .post-tag-list {
    display: inline-block;
    margin: 10px 0 20px 0;
    .tag-button {
      padding: 0 10px 0 0px;
      outline: none !important;
      color: $a-color2;
      border: none;
    }
    .tag-button:hover {
      color: $a-color;
    }
  }
}
