@import "global";

.container {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 900px;
  .post-list-container {
    min-width: 600px;
    float: left;
  }
  .post-title {
    color: $theme-color;
    font-weight: bold;
    text-decoration: none;
  }
  .post-title:hover {
    color: $a-color;
  }
  .post-box {
    border-bottom: solid 1.2px $border-color;
    min-height: 80px;
  }
  .category-button {
    color: $a-color;
    margin: 0 10px 10px 0;
    outline: none !important;
    border: solid 1px $border-color;
  }
  .category-button:hover {
    color: $h-color;
  }
  .tag-button {
    @extend .category-button;
    margin: 0 0 0 0;
    color: $theme-color2;
    border: none;
  }
  .right-container {
    position: sticky;
    top: 70px;
    float: right;
    min-width: 250px;
    max-width: 250px;
  }
  .search-box {
    .search-box-title {
      margin-top: 0;
      border-bottom: solid 0.5px $border-color;
      padding-bottom: 5px;
    }
    .search-bar {
      border: none;
      margin-top: 15px;
      outline: none !important;
      border: solid 1px #CFD8DC;
      width: 250px;
    }
  }
  .featured-post-box {
    margin: 20px 0 0 5px;;
  }
  .featured-posts-title {
    border-bottom: solid 0.5px $border-color;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  .tag-list-title {
    @extend .featured-posts-title;
  }
  .tag {
    @extend .category-button;
    margin: 2px;
  }
  .tag:hover {
    color: $h-color;
  }
}

@media (max-width: 990px) {
  .right-container {
    display: none;
  }
}
