@import "global";

.container {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 900px;
  .post-title {
    color: $theme-color;
    font-weight: bold;
    text-decoration: none;
  }
  .post-title:hover {
    color: $a-color;
  }
  .post-box {
    border-bottom: solid 1.2px $border-color;
    height: 80px;
  }
  .sarch-bar {
    border: none;
    margin-top: 15px;
    outline: none !important;
    border: solid 1px #CFD8DC;
    width: 250px;
  }
  .category-button {
    color: $a-color;
    margin: 0 10px 10px 0;
    outline: none !important;
    border: solid 1px $border-color;
  }
  .tag-button {
    @extend .category-button;
    margin: 0 0 0 0;
    color: $theme-color2;
    border: none;
  }
}
